<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/landingstyles.css">
<header id="showcase" class="animated zoomIn">
    <h1>Welcome To Medapp.in</h1>
			<section id="section-a">
				<h2>Medapp Expense Management</h2>
			</section>
    <p><a href="/employee/login" class="mr-3 p-3">Employee</a><a href="/medapp-expense-admin/login" class="ml-3 p-3">Admin</a></p>
  </header>

<%- include("partials/footer.ejs") %>
